<a href="https://colab.research.google.com/github/lchebib/SeeQoolPlaces/blob/main/data/data-cleaning/clean_bc_restaurants.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import pandas, create dataframe, and explore data
[link text](https://)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Fall 2021/550/Group Project/Datasets/Raw Scraped Data/restaurants_bc.csv'

In [ ]:
restaurants_bc = pd.read_csv(file_path)

In [ ]:
restaurants_bc.head()

            restaurant_name  ...                 categories
0  Camelot Court Restaurant  ...     Italian,Diner,Canadian
1              Black + Blue  ...  Steakhouse,Grill,Canadian
2    Tokyo Japanese Cuisine  ...       Japanese,Sushi,Asian
3        Gracie's Next Door  ...            Mexican,Bar,Pub
4              Maguro Sushi  ...       Japanese,Sushi,Asian

[5 rows x 6 columns]

In [ ]:
restaurants_bc.dtypes #data types of each column

restaurant_name    object
rating             object
num_reviews        object
rank_in_city       object
cost               object
categories         object
dtype: object

In [ ]:
restaurants_bc.shape #(rows, columns)

(14743, 6)

In [ ]:
usage_by_col = restaurants_bc.memory_usage(deep=True) # returns memory usage for each column
total_usage = usage_by_col.sum()
mbs = total_usage / 1e6 # convert to megabytes 
mbs

6.125771

# Drop Rows with Null Names

In [ ]:
restaurants_bc = restaurants_bc[restaurants_bc.restaurant_name.notnull()]
restaurants_bc.rename(columns={'restaurant_name':'name'}, inplace=True)

In [ ]:
restaurants_bc.dtypes #data types of each column

name            object
rating          object
num_reviews     object
rank_in_city    object
cost            object
categories      object
dtype: object

In [ ]:
restaurants_bc.shape #(rows, columns)

(14701, 6)

In [ ]:
restaurants_bc.head(20)

                                    name  ...                      categories
0               Camelot Court Restaurant  ...          Italian,Diner,Canadian
1                           Black + Blue  ...       Steakhouse,Grill,Canadian
2                 Tokyo Japanese Cuisine  ...            Japanese,Sushi,Asian
3                     Gracie's Next Door  ...                 Mexican,Bar,Pub
4                           Maguro Sushi  ...            Japanese,Sushi,Asian
5                                  Earls  ...           American,Bar,Canadian
6   Scott's Inn & Restaurant in Kamloops  ...         American,Diner,Canadian
7                            Otter Co-op  ...                Bar,Pub,Canadian
8                    Hearthstone Brewery  ...                   Bar,Pizza,Pub
9                            Dakodas Pub  ...              Pizza,Pub,Canadian
10                    Saltspring Wok Bar  ...  Asian,Thai,Vegetarian Friendly
11                         Vesuvius Cafe  ...                   Cafe,Canadian
12             D'Lanos Family Restaurant  ...               American,Canadian
13                           China Taste  ...         Chinese,Asian,Cantonese
14                        Salted Cracker  ...                      Cafe,Soups
15                    Grand Trunk Tavern  ...               Bar,Seafood,Grill
16                                   A&W  ...                        Canadian
17     Nara Korean & Japanese Restaurant  ...            Japanese,Sushi,Asian
18                         Papa G's Cafe  ...           Italian,Pizza,Seafood
19                        Original Joe's  ...       American,Bar,Contemporary

[20 rows x 6 columns]

#Split attraction_category



*   category
*   tag

In [ ]:
n = len(pd.unique(restaurants_bc['categories'])) # see number of unique categories values 
print("No.of.unique values :", 
      n)

No.of.unique values : 1720

In [ ]:
# # make new column 'category' whose value is first category in 'categories'
# restaurants_bc['category'] = restaurants_bc['categories'].str.split(',').str[0]

In [ ]:
restaurants_bc.head(20)

                                    name  ...                      categories
0               Camelot Court Restaurant  ...          Italian,Diner,Canadian
1                           Black + Blue  ...       Steakhouse,Grill,Canadian
2                 Tokyo Japanese Cuisine  ...            Japanese,Sushi,Asian
3                     Gracie's Next Door  ...                 Mexican,Bar,Pub
4                           Maguro Sushi  ...            Japanese,Sushi,Asian
5                                  Earls  ...           American,Bar,Canadian
6   Scott's Inn & Restaurant in Kamloops  ...         American,Diner,Canadian
7                            Otter Co-op  ...                Bar,Pub,Canadian
8                    Hearthstone Brewery  ...                   Bar,Pizza,Pub
9                            Dakodas Pub  ...              Pizza,Pub,Canadian
10                    Saltspring Wok Bar  ...  Asian,Thai,Vegetarian Friendly
11                         Vesuvius Cafe  ...                   Cafe,Canadian
12             D'Lanos Family Restaurant  ...               American,Canadian
13                           China Taste  ...         Chinese,Asian,Cantonese
14                        Salted Cracker  ...                      Cafe,Soups
15                    Grand Trunk Tavern  ...               Bar,Seafood,Grill
16                                   A&W  ...                        Canadian
17     Nara Korean & Japanese Restaurant  ...            Japanese,Sushi,Asian
18                         Papa G's Cafe  ...           Italian,Pizza,Seafood
19                        Original Joe's  ...       American,Bar,Contemporary

[20 rows x 6 columns]



#Parse city and category, and cast columns

In [ ]:
# Create 'category' column
restaurants_bc['category'] = restaurants_bc['rank_in_city'].str.split(' ').str[3]

# Rename 'categories' to 'tags and comma-separate
restaurants_bc.rename(columns={'categories':'tags'}, inplace=True)

# Create 'city' and 'state' columns
restaurants_bc['city'] = restaurants_bc['rank_in_city'].str.split(' in ').str[1]
restaurants_bc['state'] = 'BC'

# # Create 'rank_city' and 'num_attractions_city' columns and cast to int
# restaurants_bc['rank_city'] = restaurants_bc['rank_in_city'].str.split(' ').str[0].str.strip('#').str.replace(',', '')
# restaurants_bc['rank_city'].fillna(0).astype(int) # NaN is converted to 0
# restaurants_bc['num_attractions_city'] = restaurants_bc['rank_in_city'].str.split(' ').str[2].str.replace(',', '')
# restaurants_bc['num_attractions_city'].fillna(0).astype(int) # NaN is converted to 0
restaurants_bc.drop('rank_in_city', axis=1, inplace=True)

# Cast column 'num_reviews' to type int
restaurants_bc['num_reviews'] = restaurants_bc['num_reviews'].str.replace(',', '')
restaurants_bc['num_reviews'].fillna(0).astype(int)

# Cast column 'rating' to type int
restaurants_bc['rating'] = restaurants_bc['rating'].str.split(' ').str[0]
restaurants_bc['rating'].astype(float)

0        4.0
1        4.5
2        4.5
3        4.0
4        4.0
        ...
14738    0.0
14739    0.0
14740    0.0
14741    0.0
14742    0.0
Name: rating, Length: 14701, dtype: float64

In [ ]:
restaurants_bc.head(30)

                                    name rating  ...                city state
0               Camelot Court Restaurant    4.0  ...       Prince George    BC
1                           Black + Blue    4.5  ...           Vancouver    BC
2                 Tokyo Japanese Cuisine    4.5  ...       Prince George    BC
3                     Gracie's Next Door    4.0  ...          Tsawwassen    BC
4                           Maguro Sushi    4.0  ...               Delta    BC
5                                  Earls    4.0  ...            Kamloops    BC
6   Scott's Inn & Restaurant in Kamloops    4.5  ...            Kamloops    BC
7                            Otter Co-op    4.0  ...          Abbotsford    BC
8                    Hearthstone Brewery    3.5  ...     North Vancouver    BC
9                            Dakodas Pub    3.5  ...             Kelowna    BC
10                    Saltspring Wok Bar    3.5  ...              Ganges    BC
11                         Vesuvius Cafe    4.0  ...  Salt Spring Island    BC
12             D'Lanos Family Restaurant    3.5  ...       Prince George    BC
13                           China Taste    3.5  ...       Prince George    BC
14                        Salted Cracker    4.5  ...       Prince George    BC
15                    Grand Trunk Tavern    4.0  ...       Prince George    BC
16                                   A&W    4.5  ...          Tsawwassen    BC
17     Nara Korean & Japanese Restaurant    4.5  ...            Kamloops    BC
18                         Papa G's Cafe    4.5  ...            Kamloops    BC
19                        Original Joe's    4.0  ...            Kamloops    BC
20                          Doon Express    4.0  ...              Ladner    BC
21                            McDonald's    3.0  ...                Hope    BC
22                            Triple O's    3.0  ...                Hope    BC
23                ShipStones English Pub    2.5  ...              Ganges    BC
24             Salt Spring Vital Kitchen      0  ...                 NaN    BC
25                          Boston Pizza    3.5  ...       Prince George    BC
26                                Subway    4.5  ...       Prince George    BC
27                       Shawarma Palace    4.0  ...            Richmond    BC
28             The Clubhouse Bar & Grill    3.5  ...  Salt Spring Island    BC
29                         Yellow Chilli    5.0  ...               Delta    BC

[30 rows x 8 columns]

# Re-categorize



*   Restaurant
*   Cafe
*   Bar
*   Quick Bites
*   Dessert
*   Specialty Food Market

In [ ]:
restaurants_bc['temp'] = restaurants_bc['name'] + ' ' + restaurants_bc['category'] + ' ' + restaurants_bc['tags']

restaurants_bc['category'] = np.nan

cafe = ['cafe', 'coffee']
bar = ['bar', 'pub', 'wine']
bakery = ['dessert', 'pie', 'cake', 'bakery']
quick_bites = ['quick bites', 'fast food', 'speciality']
brewery = ['brewery']

for index in restaurants_bc.index:
  
  if any(keyword in str(restaurants_bc['temp'][index]).lower() for keyword in cafe):
    restaurants_bc['category'][index] = 'Cafe'
  elif any(keyword in str(restaurants_bc['temp'][index]).lower() for keyword in brewery):
    restaurants_bc['category'][index] = 'Brewery'
  elif any(keyword in str(restaurants_bc['temp'][index]).lower() for keyword in bar):
    restaurants_bc['category'][index] = 'Bar'
  elif any(keyword in str(restaurants_bc['temp'][index]).lower() for keyword in bakery):
    restaurants_bc['category'][index] = 'Bakery'
  elif any(keyword in str(restaurants_bc['temp'][index]).lower() for keyword in quick_bites):
    restaurants_bc['category'][index] = 'Quick Bites'
  else:
    restaurants_bc['category'][index] = 'Restaurant'

restaurants_bc.drop('temp', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
restaurants_bc.head()

                       name rating num_reviews  ...    category           city state
0  Camelot Court Restaurant    4.0          78  ...  Restaurant  Prince George    BC
1              Black + Blue    4.5        2700  ...  Restaurant      Vancouver    BC
2    Tokyo Japanese Cuisine    4.5          49  ...  Restaurant  Prince George    BC
3        Gracie's Next Door    4.0          33  ...         Bar     Tsawwassen    BC
4              Maguro Sushi    4.0         106  ...  Restaurant          Delta    BC

[5 rows x 8 columns]

In [ ]:
n = len(pd.unique(restaurants_bc['category'])) # see number of unique category values 
print("No.of.unique categories :", 
      n)

print(restaurants_bc['category'].unique())

No.of.unique categories : 6
['Restaurant' 'Bar' 'Brewery' 'Cafe' 'Quick Bites' 'Bakery']

# Rename Category to Subcategory

In [ ]:
restaurants_bc.rename(columns={'category': 'subcategory'}, inplace=True)

# Split cost to cost_low and cost_high; delete cost

In [ ]:
restaurants_bc['cost_low'] = restaurants_bc['cost'].str.split(' ').str[0].str.len()
restaurants_bc['cost_low'].fillna(0).astype(int) # NaN is converted to 0

# this sets cost_high to be the second set of dollar signs
# if there is not a second set of dollar signs, cost_high gets set to what cost_low is
restaurants_bc['cost_high'] = np.where(restaurants_bc['cost'].str.split('- ').str[1].str.len() > 1, restaurants_bc['cost'].str.split('- ').str[1].str.len(), restaurants_bc['cost'].str.split('- ').str[0].str.len())
restaurants_bc['cost_high'].fillna(0).astype(int) # NaN is converted to 0

restaurants_bc.drop('cost', axis=1, inplace=True)

#Add suggested_duration

In [ ]:
pd.unique(restaurants_bc['cost_high'])

array([ 3.,  4.,  1., nan])

In [ ]:
# add duration based on cost_high

restaurants_bc['suggested_duration'] = ''

for index in restaurants_bc.index:
  
  if (restaurants_bc['cost_high'][index] == 4.0):
    restaurants_bc['suggested_duration'][index] = '2-3 hours'
  elif (restaurants_bc['cost_high'][index] == 3.0):
    restaurants_bc['suggested_duration'][index] = '1-2 hours'
  elif (restaurants_bc['cost_high'][index] == 2.0):
    restaurants_bc['suggested_duration'][index] = '1-2 hours'
  elif (restaurants_bc['cost_high'][index] == 1.0):
    restaurants_bc['suggested_duration'][index] = '< 1 hour'
  else: 
    restaurants_bc['suggested_duration'][index] = '1-2 hours'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [ ]:
restaurants_bc.head()

                       name rating  ... cost_high suggested_duration
0  Camelot Court Restaurant    4.0  ...       3.0          1-2 hours
1              Black + Blue    4.5  ...       4.0          2-3 hours
2    Tokyo Japanese Cuisine    4.5  ...       3.0          1-2 hours
3        Gracie's Next Door    4.0  ...       3.0          1-2 hours
4              Maguro Sushi    4.0  ...       3.0          1-2 hours

[5 rows x 10 columns]

#Add PID and category

In [ ]:
restaurants_bc.insert(0, 'PID', range(5421, 5421 + len(restaurants_bc)))

In [ ]:
restaurants_bc.head(10)

    PID                                  name  ... cost_high suggested_duration
0  5421              Camelot Court Restaurant  ...       3.0          1-2 hours
1  5422                          Black + Blue  ...       4.0          2-3 hours
2  5423                Tokyo Japanese Cuisine  ...       3.0          1-2 hours
3  5424                    Gracie's Next Door  ...       3.0          1-2 hours
4  5425                          Maguro Sushi  ...       3.0          1-2 hours
5  5426                                 Earls  ...       3.0          1-2 hours
6  5427  Scott's Inn & Restaurant in Kamloops  ...       3.0          1-2 hours
7  5428                           Otter Co-op  ...       3.0          1-2 hours
8  5429                   Hearthstone Brewery  ...       3.0          1-2 hours
9  5430                           Dakodas Pub  ...       3.0          1-2 hours

[10 rows x 11 columns]

In [ ]:
restaurants_bc.shape

(14701, 11)

In [ ]:
# this is the last restaurant
restaurants_bc.loc[restaurants_bc['PID'] == 20121]

         PID            name rating  ... cost_low cost_high suggested_duration
14742  20121  A&W Restaurant      0  ...      NaN       NaN          1-2 hours

[1 rows x 11 columns]

In [ ]:
restaurants_bc['category'] = 'restaurants'

In [ ]:
restaurants_bc.head()

    PID                      name  ... suggested_duration     category
0  5421  Camelot Court Restaurant  ...          1-2 hours  restaurants
1  5422              Black + Blue  ...          2-3 hours  restaurants
2  5423    Tokyo Japanese Cuisine  ...          1-2 hours  restaurants
3  5424        Gracie's Next Door  ...          1-2 hours  restaurants
4  5425              Maguro Sushi  ...          1-2 hours  restaurants

[5 rows x 12 columns]

#create duration_low and duration_high

In [ ]:
pd.unique(restaurants_bc['suggested_duration'])

array(['1-2 hours', '2-3 hours', '< 1 hour'], dtype=object)

In [ ]:
# cases: '1-2 hours', '2-3 hours', '< 1 hour'
restaurants_bc['duration_low'] = ''
restaurants_bc['duration_high'] = ''


for index in restaurants_bc.index:
  
  if (restaurants_bc['suggested_duration'][index] == '< 1 hour'):
    restaurants_bc['duration_low'][index] = .5
    restaurants_bc['duration_high'][index] = 1.0
  if (restaurants_bc['suggested_duration'][index] == '1-2 hours'):
    restaurants_bc['duration_low'][index] = 1.0
    restaurants_bc['duration_high'][index] = 2.0
  if (restaurants_bc['suggested_duration'][index] == '2-3 hours'):
    restaurants_bc['duration_low'][index] = 2.0
    restaurants_bc['duration_high'][index] = 3.0

In [ ]:
restaurants_bc.head()

    PID                      name  ... duration_low duration_high
0  5421  Camelot Court Restaurant  ...            1             2
1  5422              Black + Blue  ...            2             3
2  5423    Tokyo Japanese Cuisine  ...            1             2
3  5424        Gracie's Next Door  ...            1             2
4  5425              Maguro Sushi  ...            1             2

[5 rows x 14 columns]

In [ ]:
restaurants_bc['duration_low'].isnull().sum() #make sure that the new columns have no null values

0

In [ ]:
restaurants_bc.to_csv(r'/content/drive/MyDrive/Fall 2021/550/Group Project/Datasets/Clean Scraped Data/clean_restaurants_bc.csv', index=False)